name: Approve Terraform

on:
  push:
     branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
         terraform_version: 1.14.3


      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Terraform Init
        run: terraform init\
          -backend-config="bucket=backup-bucket-for-terraform" \
          -backend-config="key=demo/production/terraform.tfstate" \
          -backend-config="region=us-east-2" \
          -backend-config="dynamodb_table=terraform-locks" \
          -backend-config="encrypt=true"

      - name: Terraform Format
        run: terraform fmt -check

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -no-color -out=tfplan -var-file=env/production.tfvars

      - name: Upload Terraform Plan
        uses: actions/upload-artifact@v4
        with:
          name: tfplan
          path: tfplan


  apply:
    runs-on: ubuntu-latest
    environment: production
    needs: terraform
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
            terraform_version: 1.14.3


      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2
          
      - name: Download Terraform Plan
        uses: actions/download-artifact@v4
        with:
          name: tfplan

      - run: terraform init\
          -backend-config="bucket=backup-bucket-for-terraform" \
          -backend-config="key=demo/production/terraform.tfstate" \
          -backend-config="region=us-east-2" \
          -backend-config="dynamodb_table=terraform-locks" \
          -backend-config="encrypt=true"

      - run: terraform apply -auto-approve tfplan -var-file=production.tfvars
