name: Plan-Pipeline-dev

on:
  push:
    
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3


      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2
          
      - name: Terraform Init (Dev)
        run: terraform init \
            -backend-config="bucket=backup-bucket-for-terraform" \
            -backend-config="key=demo/dev/terraform.tfstate" \
            -backend-config="region=us-east-2" \
            -backend-config="dynamodb_table=terraform-locks" \
            -backend-config="encrypt=true"
             
      - name: Terraform Format
        run: terraform fmt -check

      - name: Terraform Validate
        run: terraform validate
        
      - name: Terraform Plan (Dev)
        run: terraform plan -no-color -var-file=env/dev.tfvars


        
